@import url('https://fonts.googleapis.com/css2?family=Fuggles&family=Nunito:wght@200&family=Spline+Sans+Mono&display=swap');



* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    background: url('back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.container {
    min-height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1vw;
}

hr.solid {
    border-top: 1px;
    color: rgba(0, 0, 0, 0.288);

}

.todoapp {
    width: 100%;
    max-width: 20vw;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15.6px);
    -webkit-backdrop-filter: blur(15.6px);
    border: 1px solid rgba(0, 0, 0, 0.07);
    padding: 40px 30px;
    padding-bottom: 2vw;
}

.todoapp h3 {
    color: aliceblue;
    padding: 10px;
    text-align: center;
    font-family: 'Spline Sans Mono', monospace;
    font-size: 1.5vw;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(185, 185, 185, 0.116);
    width: 80%;
    height: 2vw;
    margin: auto;
    margin-bottom: 25px;
    border-bottom: 2px solid white;
}



#taskInput {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding-left: 5%;
}

input,
input::placeholder {
    color: white;
    font-family: 'Nunito', sans-serif;

    font-size: 1vw;

}


.addBtn {
    cursor: pointer;
    padding-right: 10px;
    top: 0;
    position: relative;
}

.addBtn>svg {
    fill: white;
}

.addBtn:hover {
    cursor: pointer;
}


.appBody {
    padding-top: 1vw;
    padding-bottom: 1vw;
    overflow: auto;
    word-break: break-word;
}






ul li {
    list-style-type: none;
    cursor: pointer;
    color: white;
    padding: 12px 50px 25px 50px;
    user-select: none;
    top: 0;
    font-size: 1.1vw;
    height: 1.7vw;
    line-height: 1.7vw;
    position: relative;
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
}


ul li::before {
    content: '';
    position: absolute;
    height: 1.5vw;
    width: 1.5vw;
    border-radius: 50%;
    background-image: url(circle.png);
    background-size: cover;
    background-position: center;
    top: 0.7vw;
    left: 0.6vw;
}

ul li.checked {
    color: rgba(252, 255, 254, 0.466)
}

ul li.checked::before {
    background-image: url(checked.png);
    height: 1.5vw;
    width: 1.5vw;
}


ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    text-align: center;
    height: 1.7vw;
    width: 1.7vw;
    line-height: 1.7vw;
    border-radius: 50%;
    color: white;
}

ul li span:hover {
    background-color: rgb(211, 90, 90);
    color: rgb(0, 0, 0);

}





@media screen and (max-width: 1280px) {
    div.addBtn {
        display: none;
    }
}